<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<appender name="azAppInsightsAppender"
	          class="com.microsoft.applicationinsights.logback.ApplicationInsightsAppender" />
	<root>
		<appender-ref ref="azAppInsightsAppender" />
	</root>
	<logger name="sample.logback" level="DEBUG" />
	<springProfile name="staging">
		<logger name="sample.logback" level="TRACE" />
	</springProfile>
</configuration>